@charset "utf-8";


/*Horizontal Nagivation Styles*/

nav.horizontalNavigation li {
	display: block;
	float: left;
	width: 20%;
	border: 0;
	margin:0;
}

nav.horizontalNavigation a{
	display: block;
	text-align: center; 
	padding: 20px;
}

/*Article and div styles*/

article {
	width: 100%;
	margin: 2%;
}

div {
	padding: 20px;
	margin:0px;
}


/*Footer Style*/
footer {
	clear: left;
	width: 100%;
	text-align: center; 
	padding: 20px;
}

footer::after {
	clear: both;
	content: "";
	display: table;
}

/*H1 styles*/
h1 {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 0px;
}
/*Table styles*/
table ::after {
	clear: both;
	content: "";
	display: table;
}
p.picture {
	align-self: middle;
}