@charset "utf-8";


/*Horizontal Nagivation Styles*/

nav.horizontalNavigation li {
	display: block;
	float: left;
	width: 20%;
	border: 0;
	margin:0;
}

nav.horizontalNavigation a{
	display: block;
	text-align: center; 
}

/*Article, div, and styles*/

article {
	width: 100%;
	margin: 2%;
}

div {
	padding: 20px;
	margin:20px;
}


div#first{
	background-color: #FF85CB;
	color: white;
	padding: 20px;
}
div#second{
	background-color: #EC52AB;
	color: white;
}

div#third{
	background-color: #F5289E;
	color: white;
}
div#first img{
	float: right;
	padding-top: 0;
	margin-top: 0;
}
div#last{
	background-color: #EA1EC5;
	color:white;
}

 div p#resume {
	width: 100%;
	display: inline-block;
	text-align: center;
}

/*Footer Style*/
footer {
	clear: left;
	width: 100%;
	text-align: center; 
}

footer::after {
	clear: both;
	content: "";
	display: table;
}
/*Picture Style*/
div#pic img{
	width: 45%;
	height: 45%;
	float: left;
	padding: 15px;
}
